.card {
    min-height: 115px;
}

.edu .col:nth-child(odd) .card {
    background: blue;
}

.edu .col:nth-child(even) .card {
    background: red;
}

.exp .col:nth-child(odd) .card {
    background: red;
}

.exp .col:nth-child(even) .card {
    background: blue;
}

.skill {
    border-radius: 64px;
}
