.h1 {
    position: relative;
}

.h1:after {
    position: absolute;
    content: '';
    display: block;
    left: 120%;
    right: 0;
    top: 50%;

    background-color: var(--bs-primary);
    height: .1em;
    width: 100%;

    min-height: 1px;

}

.card {
    min-height: 115px;
}

.edu .col:nth-child(odd) .card {
    background: blue;
}

.edu .col:nth-child(even) .card {
    background: red;
}

.exp .col:nth-child(odd) .card {
    background: red;
}

.exp .col:nth-child(even) .card {
    background: blue;
}

.skill {
    border-radius: 64px;
}